<section  id="about_me_section">
<div class="container-fluid about-container">
   <div class="row">
    <div class="col-md-12 text-center">
        <div name="title-block" class="page-header" align="cneter">
            <h2 class="text-light-shadow text-title">關於我</h2>
        </div>                 
    </div>
   </div>    
   <div class="row row-narrow-padding">
    <div class="col-md-6 col-background-color">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">社群</h3>
            </div>            
            <div class="panel-body" style="height: 210px;">                 
                <!-- Facebook Badge START --><a href="https://www.facebook.com/dicisg" title="&#x9ec3;&#x5609;&#x8b6f;" style="font-family: &quot;lucida grande&quot;,tahoma,verdana,arial,sans-serif; font-size: 11px; font-variant: normal; font-style: normal; font-weight: normal; color: #3B5998; text-decoration: none;" target="_TOP">黃嘉譯</a><br /><a href="https://www.facebook.com/dicisg" title="&#x9ec3;&#x5609;&#x8b6f;" target="_blank"><img class="img" src="https://badge.facebook.com/badge/100001428493176.253.589190114.png" style="border: 0px;height:75px" alt="" /></a><!-- Facebook Badge END --> 
            </div>
        </div>                 
    </div>
    <div class="col-md-6 col-background-color">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">技能</h3>
            </div>
            <div class="panel-body"> 
                <div class="div-decorator">
                    <span class="label label-default">後端內力</span>
                    <span class="label label-primary">PHP</span>
                    <span class="label label-primary">JAVA</span>                    
                    <span class="label label-primary">ASP</span>
                </div>
                <div class="div-decorator">
                    <span class="label label-default">前端外功</span>
                    <span class="label label-primary">Javascript</span>
                    <span class="label label-primary">JQuery</span>
                    <span class="label label-primary">HTML</span>
                    <span class="label label-primary">CSS</span>
                </div>
                <div class="div-decorator">    
                    <span class="label label-default">框架招式</span>
                    <span class="label label-primary">Laravel</span>
                    <span class="label label-primary">CodeIgniter</span>
                    <span class="label label-primary">ThinkPHP</span>
                    <span class="label label-primary">Bootstrap</span>
                </div>       
                <div class="div-decorator">    
                    <span class="label label-default">行動支援</span>
                    <span class="label label-primary">Android(JAVA)</span> 
                </div>
                <div class="div-decorator">    
                    <span class="label label-default">雲端平台</span>
                    <span class="label label-primary">AWS</span> 
                </div>                                                 
            </div>                            
        </div>                       
    </div>    
  </div>    
   <div class="row row-narrow-padding">
    <div class="col-md-6 col-background-color">
        <div class="panel panel-default" style="max-height:550px">
            <div class="panel-heading">
                <h3 class="panel-title">職涯</h3>
            </div>
            <div class="panel-body" align="center">
                <canvas id="myCareerChart" width="100" height="100" style="max-width:478px;max-height:478px"></canvas>   
            </div>
        </div>                  
    </div>
    <div class="col-md-6 col-background-color">
        <div class="panel panel-default" style="height:550px">
            <div class="panel-heading">
                <h3 class="panel-title">特質:應用型</h3>
            </div>
            <div class="panel-body" align="center">
                <canvas id="myPersonalityChart" width="100" height="100"  style="max-width:423px;max-height:423px"></canvas>   
            </div>
            <div class="panel-footer" align="right">
                               
            </div>
        </div>                                
    </div>    
  </div>     
</div>
</section>
