<section  id="itree_section">
<div class="container-fluid itree-container text-light  text-center" >
   <div class="row">
    <div class="col-md-12">
        <div name="title-block" class="page-header">
            <h2 class="text-dark-shadow text-title">ITree 互助平台</h2>
        </div>                 
    </div>
   </div>
   <div class="row">
    <div class="col-md-12">
        <div class="">
            <h4>便利的搜尋引擎，帶來爆炸的資訊量，曾幾何時......</h4>
            <h4>為了找資料、找答案，就讓人花了大半時間在篩選整理上</h4>
            <BR>
            <h4 class="text-special text-itree-special-color">───如果有位導師、有個經驗分享，幫助我節省時間，那該有多好───</h4>            
            <BR><p>
               ITree 知識分享平台，以互助理念出發，<BR>
               採用遊戲化模式，塑造個人成就看板，<BR>
               <span class="text-special text-itree-special-color">期盼透過資訊組織再分享</span> ，讓每個知識能量為需要的人點亮。               
            </p>
        </div>                 
    </div>
   </div>                 
   <div class="row">
    <div class="col-md-12">
        <div class=""  align="center">            
            <div class="title-itree-decorator"><h3 class="text-dark-shadow">4大特色</h3></div>
            <div class="circle"><div class="text-dark text-light-shadow text-vertical-center">簡易知識管理</div></div>
            <div class="circle"><div class="text-dark text-light-shadow text-vertical-center">遊戲化模式</div></div>
            <div class="circle"><div class="text-dark text-light-shadow text-vertical-center">個人成就看板</div></div>
            <div class="circle"><div class="text-dark text-light-shadow text-vertical-center">RWD多螢網頁設計</div></div>
        </div>                 
    </div>
   </div>    

   <div class="row">
    <div class="col-md-12" align="center">
        <div class="title-itree-decorator"><h3 class="text-dark-shadow">操作介面</h3></div>                 
    </div>    
   </div>  
   <div class="row">
    <div class="col-md-12">
        <div class="page-header">
            <h2 class="text-dark-shadow">首頁</h2>
        </div>            
        <img name="homepage" class="img-90-percent img-radius" src="{{ "/assets/img/itree/0.png" | relative_url }}">                 
    </div>    
   </div> 
   <div class="row row-margin row-itree-decorator row-padding">
    <div class="col-md-7">    
        <img name="normalpage" class="img-radius" src="{{ "/assets/img/itree/1.png" | relative_url }}">                                                                      
    </div>
    <div class="col-md-5">           
        <div class="text-vertical-center itree-interface-text-size"><h2 class="text-special text-dark-shadow">無須註冊，使用現有帳戶登入</h2></div>                                                               
    </div>    
   </div>
   <div class="row row-margin row-padding">
    <div class="col-md-12">        
        <img name="menubar" class="img-radius" src="{{ "/assets/img/itree/2-1.png" | relative_url }}">                 
    </div>    
   </div>    
   <div class="row row-margin row-itree-decorator row-padding">
    <div class="col-md-5" align="right">       
        <div class="text-vertical-center itree-interface-text-size"><h2 class="text-special text-dark-shadow">遊戲化模式設計 執行任務</h2></div>                                                                         
    </div>        
    <div class="col-md-7">           
        <img name="normalpage" class="img-radius" src="{{ "/assets/img/itree/2.png" | relative_url }}">                                                        
    </div>   
   </div>
   <div class="row row-margin row-itree-decorator row-padding">
    <div class="col-md-6" align="">                            
        <img name="normalpage" class="img-radius" src="{{ "/assets/img/itree/3.png" | relative_url }}">
        <div class=""><h2 class="text-special text-dark-shadow text-padding-narrow-top">建立能量，提供組織化資訊</h2></div>                                                           
    </div>        
    <div class="col-md-6">
        <div class=""><h2 class="text-special text-dark-shadow text-padding-narrow-bottom">瀏覽能量，圈選喜愛項目</h2></div>                   
        <img name="normalpage" class="img-radius" src="{{ "/assets/img/itree/4.png" | relative_url }}">                        
                                          
    </div>         
   </div>

   <div class="row row-margin row-itree-decorator row-padding">
    <div class="col-md-5"> 
        <div class=""><h2 class="text-special text-dark-shadow text-padding">尋找夥伴，共同合作</h2></div>                  
        <img name="normalpage" class="img-radius" src="{{ "/assets/img/itree/5.png" | relative_url }}">                                                          
    </div>                
    <div class="col-md-7">           
        <div class=""><h2 class="text-special text-dark-shadow text-padding">呈現用戶擅長技能</h2></div>        
        <img name="normalpage" class="img-radius" src="{{ "/assets/img/itree/7.png" | relative_url }}">                                                          
    </div>        
   </div>

   <div class="row row-margin row-padding">
    <div class="col-md-12">        
        <img name="menubar" class="img-radius" src="{{ "/assets/img/itree/8.png" | relative_url }}">                 
    </div>    
   </div>

   <div class="row row-margin row-itree-decorator row-padding">
    <div class="col-md-4">                   
        <div class="text-vertical-center itree-interface-text-size"><h2 class="text-special text-dark-shadow">許願池，許下心中的願望</h2></div>                                                                         
    </div>        
    <div class="col-md-8">
        <img name="normalpage" class="img-radius" src="{{ "/assets/img/itree/8-1.png" | relative_url }}">                                                                                  
    </div>
   </div> 
   <div class="row row-margin row-itree-decorator row-padding">  
    <div class="col-md-6">
        <div class=""><h2 class="text-special text-dark-shadow text-padding">瀏覽願望，貢獻知識能量</h2></div>    
        <img name="normalpage" class="img-radius" src="{{ "/assets/img/itree/9.png" | relative_url }}">                                                                       
    </div>
    <div class="col-md-6">                   
        <img name="normalpage" class="img-radius" src="{{ "/assets/img/itree/9-1.png" | relative_url }}">                                                        
    </div>            
   </div>

   <div class="row row-margin row-itree-decorator row-padding">
    <div class="col-md-12">
        <div class=""><h2 class="text-special text-dark-shadow text-padding">人物成就看板</h2></div>                
        <img name="normalpage" class="img-radius" src="{{ "/assets/img/itree/10.png" | relative_url }}">                          
    </div>    
   </div> 

   <div class="row">
    <div class="col-md-6 text-left">
            <div class="itree-specification">     
                <div name="left-panel" class="panel panel-default panel-background-color">
                    <div class="panel-body"> 
                        <div class="div-decorator">
                            <span class="label label-default">運行環境</span>
                            <span class="label label-primary">Web Browser</span>
                        </div>
                        <div class="div-decorator">
                            <span class="label label-default">使用技術</span>
                            <span class="label label-primary">PHP Laravel Framework</span>
                            <span class="label label-primary">Google/Facebook Login API</span>
                            <span class="label label-primary">Bootstrap Framework</span>
                            <span class="label label-primary">Chart.JS</span>
                            <span class="label label-primary">JQuery JS Library</span><BR>  
                        </div>
                        <div class="div-decorator">
                            <span class="label label-default">資料庫</span>
                            <span class="label label-primary">MongoDB</span>
                        </div>
                        <div class="div-decorator">    
                            <span class="label label-default">後端版本管理</span>
                            <span class="label label-primary">Git</span>
                        </div>                              
                    </div>
                </div>                 
            </div>                        
     </div>              

     <div class="col-md-6">
        <div class="" align="center">     
            <div class="title-itree-decorator"><h3 class="text-dark-shadow">網址</h3></div>            
            <div align=""><a name="weblink" href="https://goo.gl/dG28XA" class="btn btn-primary btn-border-radius" target="_blank">
                <div class="a-website">ITree<BR>互助平台</div>
                    </a>    
            </div>                          
        </div>                 
     </div>
     <div class="col-md-6">
        <div class="" align="center">     
            <div class="title-itree-decorator"><h3 class="text-dark-shadow">網站架構圖</h3></div>                                                                                
            <div align=""><a href="{{ "/assets/img/itree/ITreeStructure.png" | relative_url }}" target="_blank"><img name="structure" class="img-size-reduce" src="{{ "/assets/img/itree/ITreeStructure.png" | relative_url }}"></a></div>              
        </div>                         
    </div>       
   </div>   
</div>
</section>