<div class="container-fluid text-light" >
   <div class="row">
    <div class="col-md-12 landing-section">
        <div id="landing-text-block" class="div-decorator landing-text-main">
            <h5 class="landing-text-line1 animated fadeIn">你有智慧型手機？</h5>         
            <h4 class="landing-text-line2 animated fadeIn">對新的APP感到好奇？</h4>          
            <h3 class="landing-text-line3 animated fadeIn">哇！有股衝動想知道其中的奧義？</h3>
            <P class="landing-text-sub animated fadeIn">如果你也熱愛發掘新科技，就讓我們一起合作吧！<BR>
                <a id="about_me_play" href="#self" class="btn btn-danger a-decorator a-right">認識我<img src="{{ "/assets/img/icon/ic_play_circle_outline_white_24dp_1x.png" | relative_url }}"></a>        
            </P>             
        </div>            

    </div>        
   </div>   
</div>        