<div class="container-fluid text-light" style="margin-right:0;margin-left:0;" >
   <div class="row">
    <div class="col-md-12 landing-section">
        <div id="landing-text-block" class="div-decorator landing-text-main">
            <h5 class="landing-text-line1 animated fadeIn">我們生在這片土地...</h5>         
            <h4 class="landing-text-line2 animated fadeIn">這片土地滋養了我們...</h4>          
            <h3 class="landing-text-line3 animated fadeIn">美好未來，就靠我們著手來創造！</h3>
            <P class="landing-text-sub animated fadeIn">
                <a id="about_me_play" href="#self" class="btn btn-danger a-decorator a-right">認識我 <img src="{{ "/assets/img/icon/ic_play_circle_outline_white_24dp_1x.png" | relative_url }}"></a>        
            </P>             
        </div>            

    </div>        
   </div>   
</div>        