<section  id="tellme_section">
<div class="container-fluid tellme-container text-light text-center" >
   <div class="row">
    <div class="col-md-12">
        <div name="title-block" class="page-header">
            <h2 class="text-dark-shadow text-title">TellMe你說我聽</h2>
        </div>                 
    </div>
   </div>
   <div class="row">
    <div class="col-md-12">
        <div class="">
            <h4>曾經 我們把話放在心底 不知如何說出口</h4>
            <h4>人生未知的旅途 找個伴與你一起解答疑惑</h4>
            <BR><p>
                TellMe你說我聽服務，以互助理念出發，<BR>
                由「小天使與小主人」的遊戲發想，<BR>
                <span class="text-special text-tellme-special-color">透過匿名配對的機制，抒發內心的聲音，傾聽生命中的困難。</span>                
            </p>
        </div>                 
    </div>
   </div>                 
   <div class="row">
    <div class="col-md-12">
        <div class=""  align="center">            
            <div class="title-tellme-decorator"><h3 class="text-dark-shadow">4大特色</h3></div>
            <div class="circle"><div class="text-dark text-light-shadow text-vertical-center">簡易即時訊息</div></div>
            <div class="circle"><div class="text-dark text-light-shadow text-vertical-center">匿名配對機制</div></div>
            <div class="circle"><div class="text-dark text-light-shadow text-vertical-center">RWD多螢網頁設計</div></div>
            <div class="circle"><div class="text-dark text-light-shadow text-vertical-center">提供行動裝置APP</div></div>
        </div>                 
    </div>
   </div>     
   <div class="row">
    <div class="col-md-12">
        <div class="" align="center">     
            <div class="title-tellme-decorator"><h3 class="text-dark-shadow">操作介面</h3></div>              
            <div class="tellme-interface-nav">
                <ul class="nav nav-tabs" id="tellme-interface">
                    <li role="play"><a href="#TellMe-play" onclick="playSlide()"><img id="playImg" src="{{ "/assets/img/icon/ic_play_circle_outline_white_24dp_1x.png" | relative_url }}" alt="play"></a></li>
                    <li role="presentation" class="active"><a href="#TellMe-Step1" data-toggle="TellMe-Step1" role="tab">1.快速登入</a></li>
                    <li role="presentation"><a href="#TellMe-Step2" data-toggle="TellMe-Step2" role="tab">2.背景說明</a></li>
                    <li role="presentation"><a href="#TellMe-Step3" data-toggle="TellMe-Step3" role="tab">3.小主人寄送信息</a></li>
                    <li role="presentation"><a href="#TellMe-Step4" data-toggle="TellMe-Step4" role="tab">4.小天使收到信息</a></li>
                    <li role="presentation"><a href="#TellMe-Step5" data-toggle="TellMe-Step5" role="tab">5.小天使回復信息</a></li>
                    <li role="presentation"><a href="#TellMe-Step6" data-toggle="TellMe-Step6" role="tab">6.APP上閱讀</a></li>
                    <li role="presentation"><a href="#TellMe-Step7" data-toggle="TellMe-Step7" role="tab">7.APP上回覆</a></li>
                </ul>    
            </div>
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane fade in active" id="TellMe-Step1"><img src="{{ "/assets/img/tellme/a1.png" | relative_url }}"> </div>
                <div role="tabpanel" class="tab-pane fade in" id="TellMe-Step2"><img src="{{ "/assets/img/tellme/a2-0.png" | relative_url }}"></div>
                <div role="tabpanel" class="tab-pane fade in" id="TellMe-Step3"><img src="{{ "/assets/img/tellme/a2-1.png" | relative_url }}"></div>
                <div role="tabpanel" class="tab-pane fade in" id="TellMe-Step4"><img src="{{ "/assets/img/tellme/a3-0.png" | relative_url }}"></div>
                <div role="tabpanel" class="tab-pane fade in" id="TellMe-Step5"><img src="{{ "/assets/img/tellme/a3-1.png" | relative_url }}"></div>
                <div role="tabpanel" class="tab-pane fade in" id="TellMe-Step6"><img src="{{ "/assets/img/tellme/b2.png" | relative_url }}"></div>
                <div role="tabpanel" class="tab-pane fade in" id="TellMe-Step7"><img src="{{ "/assets/img/tellme/b3.png" | relative_url }}"></div>
            </div>                                         
                       
        </div>                 
    </div>
   </div>
 
   <div class="row">
      <div class="col-md-12 text-left">
            <div class="tellme-specification">     
                <div class="panel panel-default panel-background-color">
                    <div class="panel-body"> 
                        <div class="div-decorator">
                            <span class="label label-default">運行環境</span>
                            <span class="label label-primary">Web Browser</span>
                            <span class="label label-primary">Android</span>
                        </div>
                        <div class="div-decorator">
                            <span class="label label-default">使用技術</span>
                            <span class="label label-primary">Ionic Framework</span>
                            <span class="label label-primary">AngularJS</span>
                            <span class="label label-primary">JQuery JS Library</span>
                            <span class="label label-primary">Bootstrap Framework</span>
                            <span class="label label-primary">HTML5 Server Sent Event</span>
                        </div>
                        <div class="div-decorator">
                            <span class="label label-default">後端服務</span>
                            <span class="label label-primary">使用PHP Laravel建置RESTful API</span>
                            <span class="label label-primary">核發JSON Web Token(JWT)</span>
                        </div>
                        <div class="div-decorator">
                            <span class="label label-default">後端資料庫</span>
                            <span class="label label-primary">MongoDB</span>
                        </div>
                        <div class="div-decorator">    
                            <span class="label label-default">後端版本管理</span>
                            <span class="label label-primary">Git</span>
                        </div>
                        <div class="div-decorator">
                            <span class="label label-default">API管理</span>
                            <span class="label label-primary">Swagger</span>                                                                                                                                                            
                        </div>                               
                    </div>
                </div>                 
            </div>                        
    </div> 
   </div> 
   <div class="row">
    <div class="col-md-6">
        <div class="" align="center">   
            <div class="title-tellme-decorator"><h3 class="text-dark-shadow">網站</h3></div>               
            <a name="weblink" href="https://itreetw.page.link/tellme" class="btn btn-danger btn-border-radius" target="_blank">
            <div class="a-website">TellMe<BR>你說我聽</div>
                </a>            
        </div>                  
    </div>              
    <div class="col-md-6">
        <div class="" align="center">     
            <div class="title-tellme-decorator"><h3 class="text-dark-shadow">網站架構圖</h3></div>                                   
            <a href="{{ "/assets/img/tellme/TellMeStructure.png" | relative_url }}" target="_blank"><img name="structure" class="img-size-reduce" src="{{ "/assets/img/tellme/TellMeStructure.png" | relative_url }}"></a>            
        </div>                         
    </div>       
   </div>   
</div>
</section>