<section  id="thing_section">
<div class="container-fluid thing-container text-light  text-center" >
   <div class="row">
    <div class="col-md-12">
        <div name="title-block" class="page-header">
            <h2 class="text-dark-shadow text-title">物品管理APP</h2>
        </div>                 
    </div>
   </div>
   <div class="row">
    <div class="col-md-12">
        <div class="">
            <h4>冰箱裡的食物、櫃子裡的零食、琳瑯滿目的化粧品、電話費、水電費、信用卡費......</h4>
            <h4>生活中，許多東西常放到過期忘了使用，可不可以做個APP來管理？</h4>
            <BR><p>
                於是，誕生「物品管理APP」，<span class="text-special text-thing-special-color">從此讓物品受到妥善的照顧！</span><BR>
                目前版本已具備基礎功能，雖然離全自動化還有一段路......
            </p>
        </div>                 
    </div>
   </div>                 
   <div class="row">
    <div class="col-md-12">
        <div class=""  align="center">            
            <div class="title-thing-decorator"><h3 class="text-dark-shadow">3大特色</h3></div>
            <div class="circle"><h4 class="text-dark text-light-shadow text-vertical-center text-special">簡易物品管理</h4></div>
            <div class="circle"><h4 class="text-dark text-light-shadow text-vertical-center text-special">即將過期通知</h4></div>
            <div class="circle"><h4 class="text-dark text-light-shadow text-vertical-center text-special">雲端同步</h4></div>
        </div>                 
    </div>
   </div>     
   <div class="row">
    <div class="col-md-6">
        <div class="" align="center">     
            <div class="title-thing-decorator text-center"><h3 class="text-dark-shadow">APP操作介面</h3></div>                       
            <img name="left-image" class="" src="{{ "/assets/img/thing/ThingAppScreenShot.gif" | relative_url }}">            
        </div>                 
    </div>
    <div class="col-md-6 text-left">
            <div class="thing-specification">     
                <h4>無須註冊，使用現有帳戶登入</h4>
                <h4>操作便利，即時接收最新資訊</h4>
                <h4>無痛備份，資料自動同步雲端</h4>
                <div name="right-panel" class="panel panel-default panel-background-color">
                    <div class="panel-body"> 
                        <div class="div-decorator">
                            <span class="label label-default">運行環境</span>
                            <span class="label label-primary">Android</span><BR>
                        </div>
                        <div class="div-decorator">
                            <span class="label label-default">使用技術</span>
                            <span class="label label-primary">Google Login API</span>
                            <span class="label label-primary">FireBase Cloud Message</span><BR>
                        </div>
                        <div class="div-decorator"> 
                            <span class="label label-default">資料庫</span>
                            <span class="label label-primary">SQLlite</span><BR>
                        </div> 
                        <div class="div-decorator">
                            <span class="label label-default">後端服務</span>
                            <span class="label label-primary">使用PHP Laravel建置RESTful API</span>
                            <span class="label label-primary">核發JSON Web Token(JWT)</span><BR> 
                        </div>
                        <div class="div-decorator">
                            <span class="label label-default">後端資料庫</span>
                            <span class="label label-primary">MongoDB</span><BR>
                        </div>
                        <div class="div-decorator">    
                            <span class="label label-default">後端版本管理</span>
                            <span class="label label-primary">Git</span><BR>
                        </div>
                        <div class="div-decorator">
                            <span class="label label-default">API管理</span>
                            <span class="label label-primary">Swagger</span><BR>                                                                                                                                                               
                        </div>                               
                    </div>
                </div>                 
            </div>                 
    </div>       
   </div>   
   <div class="row">
    <div class="col-md-6">
        <div class="" align="center">     
            <div class="title-thing-decorator"><h3 class="text-dark-shadow">APK</h3></div>
            <a href="https://goo.gl/kuvJgo" target="_blank"><img name="qrcode" class="img-size-reduce" src="{{ "/assets/img/thing/ThingAppQRCode.png" | relative_url }}"></a>
            <p class="thing-apk">MD5:
            <span class="md5-decorator">2263d714bf9db945288ffc9124ca5c1f</span></p>              
        </div>                 
    </div>
    <div class="col-md-6">
        <div class="" align="center">     
            <div class="title-thing-decorator"><h3 class="text-dark-shadow">APP架構圖</h3></div>                       
            <a href="{{ "/assets/img/thing/ThingAppStructure.png" | relative_url }}" target="_blank"><img name="structure" class="img-size-reduce" src="{{ "/assets/img/thing/ThingAppStructure.png" | relative_url }}"></a>            
        </div>                         
    </div>       
   </div>   
</div>
</section>