<section  id="weather_section">
    <div class="container-fluid weather-container text-light  text-center" >
       <div class="row">
        <div class="col-md-12">
            <div name="title-block" class="page-header">
                <h2 class="text-dark-shadow text-title">氣象小叮嚀</h2>
            </div>                 
        </div>
       </div>

       <div class="row">
        <div class="col-md-12">
            <div class="">
                <h4>疫情時代，關心你我健康是最首要的事情</h4>
                <h4>因此發想建構日常關懷服務，從氣候變化起頭，開發天氣小叮嚀服務</h4>
                <BR><p>
                    行動裝置普及後，不分年齡層習慣了用Line APP來通訊或接收資訊，
                    因而將服務建構在Line平台上，讓長輩們無負擔地獲得氣象資訊，
                    <span class="text-special text-weather-special-color">傳遞一份關心，適時添加衣物，</span><BR>
                    期盼可以再結合生活各個面向，開發更完善的照護服務~
                </p>
            </div>                 
        </div>
       </div>

        <div class="row">
        <div class="col-md-12">
            <div class=""  align="center">            
                <div class="title-weather-decorator"><h3 class="text-dark-shadow">2大特色</h3></div>
                <div class="circle"><h4 class="text-dark text-light-shadow text-vertical-center text-special">氣候變化提醒</h4></div>
                <div class="circle"><h4 class="text-dark text-light-shadow text-vertical-center text-special">Line接收通知</h4></div>
            </div>                 
        </div>
        </div>    

        <div class="row">
            <div class="col-md-4">
                <div class="" align="center">   
                    <div class="title-weather-decorator"><h3 class="text-dark-shadow">首頁</h3></div>               
                    <a href="{{ "/assets/img/weather/weatherAppStructure.png" | relative_url }}" target="_blank"><img name="weather-home" class="img-h-300" src="{{ "/assets/img/weather/1home.png" | relative_url }}"></a>         
                </div>                  
            </div> 
            <div class="col-md-4">
                <div class="" align="center">   
                    <div class="title-weather-decorator"><h3 class="text-dark-shadow">Line聊天室連動</h3></div>               
                    <a href="{{ "/assets/img/weather/weatherAppStructure.png" | relative_url }}" target="_blank"><img name="weather-line_notify" class="img-h-300" src="{{ "/assets/img/weather/2line_notify.png" | relative_url }}"></a>         
                </div>              
            </div>              
            <div class="col-md-4">
                <div class="" align="center">   
                    <div class="title-weather-decorator"><h3 class="text-dark-shadow">氣象服務資訊</h3></div>               
                    <a href="{{ "/assets/img/weather/weatherAppStructure.png" | relative_url }}" target="_blank"><img name="weather-message" class="img-h-300" src="{{ "/assets/img/weather/3message.png" | relative_url }}"></a>         
                </div>                       
            </div>       
        </div> 
           
        <div class="row">
            <div class="col-md-12 text-left">
                  <div class="weather-specification">     
                      <div class="panel panel-default panel-background-color">
                          <div class="panel-body"> 
                              <div class="div-decorator">
                                  <span class="label label-default">運行環境</span>
                                  <span class="label label-primary">Web Browser</span>
                                  <span class="label label-primary">Line APP</span>
                              </div>
                              <div class="div-decorator">
                                  <span class="label label-default">使用技術</span>
                                  <span class="label label-primary">Laravel Framework</span>
                                  <span class="label label-primary">Bootstrap Framework</span>
                                  <span class="label label-primary">中央氣象局開放資料平臺API</span>
                                  <span class="label label-primary">Line Notify API</span>
                              </div>
                              <div class="div-decorator">
                                  <span class="label label-default">後端服務</span>
                                  <span class="label label-primary">使用PHP Laravel建置API</span>
                                  <span class="label label-primary">使用Heroku雲端服務</span>
                              </div>
                              <div class="div-decorator">
                                  <span class="label label-default">後端資料庫</span>
                                  <span class="label label-primary">PostgreSQL</span>
                              </div>                              
                          </div>
                      </div>                 
                  </div>                        
            </div> 
         </div> 
    </div>
</section>