<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "zh-Hant-TW" }}">

  {% include head.html %}

  <body>    
    {% include header.html %}
    {% include landing.html %}    
    {% include about.html %}
    {% include breathspace.html %}
    {% include experience_topic.html %}
    {% include breathspace.html %}
    {% include weather.html %}
    {% include breathspace.html %}
    {% include thing.html %}
    {% include breathspace.html %}
    {% include tellme.html %}
    {% include breathspace.html %}
    {% include itree.html %}
    {% include footer.html %}
    
  </body>

</html>
